.nav-btn{
  color: white !important;
  border-radius: 12px !important;
  font-size: 20px !important;
}
.nav-btn:hover {
  color: black !important;
  background-color: #e7e7e7;
}
.nav-link{
  font-size: 20px;
}
.absolute {
  position: absolute;
  width: 50px;
  height: 150px;
}
#abs2 {
  top: 70px;
  right: 15px;
}